
  <mat-toolbar style="background-color: #64638f; color: #cbc9ff">
    <mat-toolbar-row>

      <img style="width: 10%; height: 170%" src="./assets/logo.png" />


        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a routerLink="" mat-button>Accueil</a>
        <a routerLink="/pc" mat-button>Ordinateurs</a>
        <a routerLink="/telephone" mat-button>Telephones</a>
        <a routerLink="/accessoire" mat-button>Accessoires</a>


      <span class="menu-spacer"></span>
      <a *ngIf="admin" mat-button routerLink="/admin/stat">Admin</a>
      <a *ngIf="loginService.isUserLoggedIn() && !admin" (click)=" listCommande() " mat-button>List Commande</a>
      <a (click)="onCreatee()" mat-button *ngIf="!admin">Panier<mat-icon [matBadge]="listProduit()" matBadgeColor="primary" svgIcon="thumbs-up"  ></mat-icon></a>
        <a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" mat-button>Login</a>

      <button *ngIf="loginService.isUserLoggedIn()" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="modifierUser()">
          <span>Paramètres compte</span>
        </button>
        <button (click)=" logout()" mat-menu-item>
        Logout
        </button>
      </mat-menu>

    </mat-toolbar-row>
  </mat-toolbar>


  <!--<button md-button  *ngFor="let link of links"-->
          <!--[routerLinkActiveOptions]="{exact: true}"-->
          <!--routerLinkActive="active" [routerLink]="link.link" >-->
    <!--<i *ngIf="link.icon" [class]="link.icon"></i>-->
    <!--<md-icon *ngIf="link.icon"  class="md-24"> {{link.icon}}</md-icon>-->
    <!--{{link.label}}-->
  <!--</button>-->
