


    <!--<mat-grid-list style="background-color: #cbc9ff" cols="4" rowHeight="2:1">-->
      <!--<mat-grid-tile>1</mat-grid-tile>-->
      <!--<mat-grid-tile>2</mat-grid-tile>-->
      <!--<mat-grid-tile>3</mat-grid-tile>-->
      <!--<mat-grid-tile>4</mat-grid-tile>-->
    <!--</mat-grid-list>-->
<div style="background-color: #cbc9ff" >
    <div class="row align-items-center" style="margin-top: 50px ">

      <div style="padding-top: 10px" class="col-12 col-md-4 " >
        <div style="text-align:center">
          <a mat-icon-button class="btn-facebook ml-2" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
          <a mat-icon-button class="btn-linkedin ml-2" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
          <a mat-icon-button class="btn-twitter ml-2" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
          <a mat-icon-button class="btn-youtube ml-2" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
        </div>
      </div>


    </div>


    <div class="row mt-4">
      <div class="col-md-4 mt-2 justify-content-center" >
        <div style="text-align:center;font-size: 85%;color: rgb(134, 134, 134)">
          <p>© Copyright 2018 SADOK</p>
        </div>
      </div>

      <div class='col-md-6 offset-md-2 justify-content-center'>
        <button mat-button class="footer-link" routerLink='/home'>HOME</button>
        <button mat-button class="footer-link" routerLink='/about'>ABOUT</button>
        <button mat-button class="footer-link" routerLink='/menu'>MENU</button>
        <button mat-button class="footer-link" routerLink='/reservations'>RESERVATIONS</button>
        <button mat-button class="footer-link" routerLink='/blog'>BLOG</button>
        <button mat-button class="footer-link" routerLink='/contact'>CONTACT</button>
      </div>
    </div>
</div>
