mat-form-field{
  margin-bottom: 30px;
  margin-left: 15%;

}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

form {


}
mat-card{
  margin-top: 20px;
  margin-right: 25%;
  margin-left: 25%;
}

button{
  margin-bottom: 20px;
  width: 100%;
}
