/* You can add global styles to this file, and also import other style files */

@import '~perfect-scrollbar/css/perfect-scrollbar.css';

.ps .ps__scrollbar-y-rail {
    left: 3px;
    right: auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


form.normal-form{
  margin: 10px;
}

.controles-container{
  width: 100%;
  padding: 5%;
}
.controles-container > *{
  width: 100%;
}

.add-bottom-padding{
  padding: 10px;
}


.button-row button{
  margin-right: 5px;
}
